    <footer class="site__footer f-footer">
        <div class="g-container">
            <div class="g-row">
                <div class="g-col g-col__3">
                    <span class="f-footer__title">Контакти</span>
                    <ul class="f-footer__list f-list">
                        <li class="f-list__item">
                            <i class="icon-cross"></i> 01033, Україна, Київ, вул. Тарасівська, 6
                        </li>
                        <li class="f-list__item">
                            <a href="tel:+380441112233" class="f-list__link">
                                <i class="icon-telephone"></i> (044) 111-22-33
                            </a>
                        </li>
                        <li class="f-list__item">
                            <a href="mailto:yourmail@domain.com" class="f-list__link">
                                <i class="icon-email"></i> yourmail@domain.com
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="g-col g-col__3">
                    <span class="f-footer__title">Останні новини</span>
                    <ul class="f-footer__list f-list">
                        <li class="f-list__item"><a href="#" class="f-list__link">Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor.</a></li>
                        <li class="f-list__item"><a href="#" class="f-list__link">Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></li>
                        <li class="f-list__item"><a href="#" class="f-list__link">Donec consectetuer ligula vulputate sem tristique cursus.</a></li>
                    </ul>
                </div>
                <div class="g-col g-col__3">
                    <span class="f-footer__title">Ми у соцмережах</span>
                    <ul class="f-footer__social f-social">
                        <li class="f-social__item">
                            <a href="#" class="f-social__link">
                                <i class="icon-facebook"></i>
                            </a>
                        </li>
                        <li class="f-social__item">
                            <a href="#" class="f-social__link">
                                <i class="icon-twitter"></i>
                            </a>
                        </li>
                        <li class="f-social__item">
                            <a href="#" class="f-social__link">
                                <i class="icon-instagram"></i>
                            </a>
                        </li>
                        <li class="f-social__item">
                            <a href="#" class="f-social__link">
                                <i class="icon-youtube"></i>
                            </a>
                        </li>
                        <li class="f-social__item">
                            <a href="#" class="f-social__link">
                                <i class="icon-rss"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="f-footer__sole">
                <span>2019 © yourdomain.com. Всі права захищено</span>
            </div>
        </div>
        <button type="button" class="f-footer__scroll_btn js-scroll_btn">
            <i class="icon-up-chevron"></i>
        </button>
    </footer>
    <!--/FOOTER-->

    <!--scripts-->
    <script>
        WebFontConfig = {
            google: {
                families: ['Lora:700:cyrillic', 'Fira Sans:400,500:cyrillic']
            },
            active: function () {
                sessionStorage.font_GOS = true;
            }
        };
        (function (d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>
    <script src="js/app.min.js" defer></script>
    <!--/scripts-->