    <header class="site__header js-header">
        <div class="site__header--top h-top js-header-top">
            <div class="g-container">
                <figure class="h-top__inner">
                    <div class="h-top__search h-search">
                        <a href="search.html" class="h-search__btn">
                            <i class="icon-search"></i>
                        </a>
                    </div>
                    <ul class="h-top__action h-action">
                        <li class="h-action__item">
                            <a href="tel:+380441112233" class="h-action__link">
                                <span class="h-action__icon">
                                    <i class="icon-telephone"></i>
                                </span>
                                <span class="h-action__text">(044) 111-22-33</span>
                            </a>
                        </li>
                        <li class="h-action__item">
                            <a href="consultation.html" class="h-action__link">
                                <span class="h-action__icon">
                                    <i class="icon-sick"></i>
                                </span>
                                <span class="h-action__text">Запис до лікаря</span>
                            </a>
                        </li>
                    </ul>
                </figure>
            </div>
        </div>
        <div class="site__header--main h-main js-header-main">
            <div class="g-container">
                <div class="h-main__inner">
                    <figure class="h-main__logo h-logo">
                        <a href="index.html" class="h-logo__link">
                            <span class="h-logo__icon">
                                <i class="icon-hospital"></i>
                            </span>
                            УМЦСМ
                        </a>
                    </figure>
                    @@include('main-menu.html')
                    <button type="button" class="h-main__mopenbtn js-menuopen-btn">
                        <i class="icon-menu"></i>
                    </button>
                </div>
            </div>
        </div>
    </header>