<nav class="h-main__nav js-menu">
    <button type="button" class="h-main__mclosebtn js-menuclose-btn">
        <i class="icon-close"></i> Меню
    </button>
    <ul class="h-main__menu h-menu">
        <li class="h-menu__item">
            <a href="about.html" class="h-menu__link">Про нас</a>
        </li>
        <li class="h-menu__item">
            <a href="#" class="h-menu__link">Послуги</a>
            <ul class="h-menu__submenu">
                <li class="h-menu__submenu__item">
                    <a href="#" class="h-menu__submenu__link">Послуга 1</a>
                </li>
                <li class="h-menu__submenu__item">
                    <a href="#" class="h-menu__submenu__link">Послуга 2</a>
                </li>
                <li class="h-menu__submenu__item">
                    <a href="#" class="h-menu__submenu__link">Послуга з довгою назвою&nbsp;3</a>
                </li>
                <li class="h-menu__submenu__item">
                    <a href="#" class="h-menu__submenu__link">Послуга з дуже, дуже довгою назвою 4</a>
                </li>
                <li class="h-menu__submenu__item">
                    <a href="#" class="h-menu__submenu__link">Послуга 5</a>
                </li>
                <li class="h-menu__submenu__item">
                    <a href="#" class="h-menu__submenu__link">Послуга 6</a>
                </li>
            </ul>
        </li>
        <li class="h-menu__item">
            <a href="#" class="h-menu__link">Переваги</a>
            <ul class="h-menu__submenu">
                <li class="h-menu__submenu__item">
                    <a href="#" class="h-menu__submenu__link">Перевага 1</a>
                </li>
                <li class="h-menu__submenu__item">
                    <a href="#" class="h-menu__submenu__link">Перевага 2</a>
                </li>
                <li class="h-menu__submenu__item">
                    <a href="#" class="h-menu__submenu__link">Перевага з довгою назвою&nbsp;3</a>
                </li>
                <li class="h-menu__submenu__item">
                    <a href="#" class="h-menu__submenu__link">Перевага з дуже, дуже довгою назвою 4</a>
                </li>
            </ul>
        </li>
        <li class="h-menu__item">
            <a href="#" class="h-menu__link">Лікарі</a>
        </li>
        <li class="h-menu__item">
            <a href="#" class="h-menu__link">Новини</a>
        </li>
        <li class="h-menu__item">
            <a href="consultation.html" class="h-menu__link">Консультація</a>
        </li>
        <li class="h-menu__item">
            <a href="#" class="h-menu__link">Контакти</a>
        </li>
    </ul>
</nav>