// Default project variables
$project-font-size:16px; //in px
$project-line-height:24px; //in px

//colors
$text-color:#25292f;
$border-color:#E0E0E0;
$placeholder-color:#7f8c8d;
$primary:#da251c;
$primary-alt:#2c3e50;
$title-color:$primary-alt;

//fonts
$font-regular:'Fira Sans';
$font-title:'Lora';