.h-hero{
    padding: 0;
    margin: 0;
    position: relative;
    background-color:$primary-alt;
    background-image: url(../img/hero.jpg);
    background-size: cover;
    display: none;

    &:after{
        content: '';
        display: block;
        padding-top: 100%*728/1920;
    }

    @media screen and (min-width:$tablet){
        display: block;
    }
}

.h-hero__inner{
    position: absolute;
    top:0; right: 0; bottom:0; left:0;
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,.35);
    text-shadow: .5px .5px .5px rgba(0,0,0,.75);
}

.h-hero__title{
    @extend .g-title;
    color:#fff;
}
.h-hero__content{
    margin-bottom: 24px;
    color:#fff;
    line-height: 1.5;

    @media screen and (min-width:$desktop){
        font-size: 20px;
    }
}